.price {
    font-size: larger;
    color: coral;
}

.featuredHouseMainImage {
    max-width: 100%;
}

.house {
    margin-bottom: 10px;
}

.link-property:hover {
    text-decoration: none
}

.title, .description {
    color: black;
}

.property a:hover {
    text-decoration: none;
}

.property-title {
    color: black;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 20px;
}

.property-title:hover {
    color: #2eca6a;
}