.logo {
    margin-top: 40px;
    color: coral;
}

.logo-link:hover {
    text-decoration: none;
}
  
.subtitle {
    font-style: italic;
    font-size: x-large;
    color: coral;
}

.top-navbar {
    padding: 0;
}

.text-brand:hover {
    color: #2eca6a;
}