.logo {
    margin-top: 40px;
    color: coral;
}

.logo-link:hover {
    text-decoration: none;
}
  
.subtitle {
    font-style: italic;
    font-size: x-large;
    color: coral;
}

.top-navbar {
    padding: 0;
}

.text-brand:hover {
    color: #2eca6a;
}

.hide-mobile-navigation {
    display: none;
}

.show-mobile-navigation {
    display: block;
}

.nav-link {
    margin-top: 10px;
}

.navbar-menu {
    justify-content: flex-end;
}